<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5e42d2ec-31e5-4939-9318-2ba718658768" name="PREP" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="5e42d2ec-31e5-4939-9318-2ba718658768fileName">PREP</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>