<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="640f4f74-64f1-4af2-8778-f63fb63063df" name="S01 - Dummy" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="640f4f74-64f1-4af2-8778-f63fb63063dffileName">S01---Dummy</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>